body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;    
    background-color: blue;
 }
 #titulo {
     color: aliceblue;
 }
 .paragrafos {
     font-family:Arial, Helvetica, sans-serif;
 }